{% verbatim %}
<div class="card lg:card-side bg-base-100 shadow-sm">
  <figure>
    {% if value.icon %}
        {% include "components/icon/icon.html" with icon=value.icon classes="headline__icon" %}
    {% endif %}
  </figure>
  <div class="card-body">
    <h2 class="card-title">{{ value.heading }}</h2>
    {% if value.sub_heading %}
        <p class="">{{ value.sub_heading }}</p>
    {% endif %}
    {% if value.intro %}
        <p class="headline__intro">{{ value.intro }}</p>
    {% endif %}
    {% if value.cta %}
        <div class="card-actions justify-end">
            {% include "components/buttons/button.html" with arrow=True url=value.cta.url title=value.cta.text classes="btn btn-primary" %}
        </div>
    {% endif %}
  </div>
</div>
{% endverbatim %}