{% verbatim %}
{% load wagtailcore_tags wagtail_cache %}
{% wagtail_site as current_site %}
{% wagtailcache 900 primarynav current_site.pk is_pattern_library %}
    <div class="navbar bg-base-100 shadow-sm">
        <div class="navbar-start">
            <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
            </div>
            <ul
                tabindex="-1"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                {% for menu_section in menus %}
                <li>
                    <details>
                    <summary>{{ menu_section.name }}</summary>
                    <ul class="p-2">
                        {% for nav_item in menu_section.nav_items %}
                        <li><a>{{ nav_item.text }}</a></li>
                        {% endfor %}
                    </ul>
                    </details>
                </li>
                {% endfor %}
            </ul>
            </div>
            <a class="btn btn-primary text-xl">DaisyUI</a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                {% for menu_section in menus %}
                <li>
                    <details>
                    <summary>{{ menu_section.name }}</summary>
                    <ul class="p-2">
                        {% for nav_item in menu_section.nav_items %}
                        <li><a>{{ nav_item.text }}</a>{{ nav_item.short_description }}</li>
                        {% endfor %}
                    </ul>
                    </details>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="navbar-end">
            <a class="btn btn-accent">Search</a>
        </div>
    </div>

{% endwagtailcache %}
{% endverbatim %}