{% verbatim %}
{% load wagtailcore_tags wagtail_cache %}
{% if footer_navigation %}
    {% wagtail_site as current_site %}
    {% wagtailcache 900 footernav current_site.pk is_pattern_library %}
                {% for section in footer_navigation.sections %}
                    {% with section.value as menu_section %}
                    <nav>
                        <h6 class="footer-title">{{ menu_section.heading }}</h6>
                            {% for menu_item in menu_section.links %}
                            <a class="link link-hover" href="{% if menu_item.cta_url %}{{ menu_item.cta_url }}{% elif menu_item.cta_page %}{% pageurl menu_item.cta_page %}{% endif %}">{{ menu_item.text }}</a>
                            {% endfor %}
                    </nav>
                    {% endwith %}
                {% endfor %}
    {% endwagtailcache %}
{% endif %}
{% endverbatim %}