{% verbatim %}
{% load wagtailimages_tags %}
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg/8 font-semibold text-gray-900">{{ value.heading }}</h2>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      {% for logo in value.logos %}
        {% image logo max-200x200 class="logos__image" %}
      {% endfor %}
    </div>
  </div>
</div>
{% endverbatim %}