{% verbatim %}
{% extends "base.html" %}

{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags util_tags %}

{% wagtail_site as current_site %}

{% block meta_tags %}

<link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" sizes="32x32">
<link rel="icon" href="{% static 'images/favicons/favicon.svg'%}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{% static 'images/favicons/apple-touch-icon.png' %}">
<link rel="manifest" href="{% static 'images/favicons/favicon.webmanifest' %}">
<meta name="theme-color" content="#26899E"/>

{% endblock meta_tags %}

{% block body_class %}{{ block.super }}{% if page %}template-{{ page.get_verbose_name|slugify }}{% endif %} {% endblock %}

{% block body_top %}
    {% if GOOGLE_TAG_MANAGER_ID and not request.is_preview and not is_pattern_library %}
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% endif %}

    <div data-site-wide-alert="{% url 'sitewide_alert:sitewide_alert' %}"></div>
{% endblock body_top %}


{% block header %}
    {% if '/wagtail-space' not in request.path %}
    <!-- This content will NOT show on any URL containing /wagtail-space -->
        {% if '/wagtail-space' not in request.path %}
            <div class="space-banner">
                <div class="banner-text">Join us for</div>
                <img src="{% static 'images/WagtailSpace2025Logo.png' %}"
                     alt="Registration banner"
                     class="banner-image">
                <a href="/wagtail-space-2025" class="banner-button">Learn more</a>
            </div>
        {% endif %}
    {% endif %}
    {% include "navigation/header.html" %}
{% endblock header %}


{% block footer %}
    {% include "includes/footer.html" %}
{% endblock footer %}
{% endverbatim %}
