{% verbatim %}
{% load static wagtailcore_tags wagtailuserbar i18n django_vite %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />

        {% vite_hmr_client %}
        {% vite_asset 'static/js/main.js' %}

        {% if request.in_preview_panel %}
            <base target="_blank">
        {% endif %}
        
        <title>{% block title %}{% firstof page.seo_title page.title %}{% endblock %}{% block title_suffix %}{% if current_site.site_name %}- {{ current_site.site_name }}{% endif %}{% endblock %}</title>
        
        
        {% block meta_tags %}
            <meta name="description" content="" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% endblock %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        {# Global iconography #}
        {% include "includes/svg_sprites.html" %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

    </head>

    <body class="app {% block body_class %}{% endblock %}">
        {% block body_top %}{% endblock %}
        {% wagtailuserbar %}

        {% block header %}{% endblock header %}

        <main class="flex-1" id="main-content">
            {% block content %}

            {% endblock content %}
        </main>

        {% block footer %}{% endblock footer %}

        
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

        {% block extra_js %}
        
        {% endblock %}
    </body>
</html>
{% endverbatim %}
