{% verbatim %}
{% load wagtailcore_tags %}
<ul class="list bg-base-100 rounded-box shadow-md">
    {% if value.heading %}
    <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">
        <h2 class="">{{ value.heading }}</h2>
    </li>
    {% endif %}

    {% if value.items %}
        <ul class="list bg-base-100 rounded-box shadow-md">
            {% for item in value.items %}
                <li class="list-row">
                    {% include_block item %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endverbatim %}