{% verbatim %}
{% load wagtailcore_tags wagtailimages_tags %}

<div class="card card-side bg-base-100 shadow-sm">
  <figure>
    {% image value.image width-1300 class="highlight__image" loading="lazy" %}
  </figure>
  <div class="card-body">
    {% if value.meta_icon and value.meta_text %}
        <div class="highlight__meta">
            {% include "components/icon/icon.html" with icon=value.meta_icon classes="highlight__meta-icon" %}
            <span class="highlight__meta-text heading-four">{{ value.meta_text }}</span>
        </div>
    {% endif %}
    <h2 class="card-title">{{ value.heading }}</h2>
    {% if value.description %}
        <p class="highlight__description">{{ value.description }}</p>
    {% endif %}
    {% if value.cta %}
    <div class="card-actions justify-end">
        {% include "components/buttons/button.html" with arrow=True url=value.cta.url title=value.cta.text classes="btn btn-success" %}
    </div>
    {% endif %}
  </div>
</div>
{% endverbatim %}