{% verbatim %}
<div class="card bg-base-100 w-96 shadow-sm">
    <div class="card-body">
        {% if value.heading %}
        <h3 class="card-title">{{ value.heading }}</h3>
        {% endif %}
        {% if value.description %}
        <div class="mb-8 md:mb-12 md:pb-16 text-lg md:text-xl">
            {{ value.description }}
        </div>
        {% endif %}
        <div class="justify-end card-actions">
            {% if value.link %}
                {% with cta_link=value.link.0 %}
                    {% include "components/button.html" with title=cta_link.value.get_title url=cta_link.value.get_url classes="w-full md:w-auto" %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
 </div>
{% endverbatim %}
