{% verbatim %}
{% load wagtailcore_tags %}

<div
  class="hero min-h-screen"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>

<div class="grid">
    <div class="hero {% if classes %}{{ classes }}{% endif %}">
        <div class="hero__inner">
            <hgroup>
                <h1 class="hero__heading">{% firstof value.heading value.title %}</h1>

                {% if value.sub_heading or value.subheading %}
                    <p class="hero__subheading intro-big">{% firstof value.sub_heading value.subheading %}</p>
                {% endif %}
            </hgroup>

            {% if value.intro %}
                <div class="hero__intro">{{ value.intro|richtext }}</div>
            {% endif %}

            {# We're actually only dealing with 1 block, since `max_num=1` #}
            {% for block in value.cta %}
                {% include "components/buttons/button.html" with arrow=True url=block.value.url title=block.value.text classes="hero__button" %}
            {% endfor %}
        </div>

        {# Paper plane svg is made of mupltiple paths - different to the other icon choices #}
        {% if value.icon == 'paper-plane' %}
            <div class="hero__icon hero__icon--paper-plane">
                <svg class="hero__light-mode" aria-hidden="true">
                    <use xlink:href="#paper-plane"></use>
                </svg>
                <svg class="hero__dark-mode" aria-hidden="true">
                    <use xlink:href="#paper-plane-dark"></use>
                </svg>
            </div>
        {% elif value.icon %}
            {% include "components/icon/icon.html" with icon=value.icon classes="icon--primary hero__icon" %}
        {% endif %}
    </div>
</div>
{% endverbatim %}